body{
    background-color: rgb(29, 109, 109);
}
.container{
    background-color: rgb(249, 252, 252);
    padding-bottom: 50px;
    padding-top: 0.5px;
    padding-left: 20px;
    width: 400px;
    height: 500px;
    margin-left: 500px;
    margin-right: 100px;
    box-shadow : 4px 4px 80px  rgba(233, 26, 26, 0.4) ;
    border-radius: 15px;
}
div{
    line-height: 50px;
}

textarea{
    height: 18px;
}

input{
    height: 18px;
}
.sex{
    width: 150px;
    height: 25px;
}
.end{
    background-color:rgb(52, 163, 163) ;
    margin-right: 20px;
    border-radius:5px;
    width: 100px;
    height: 20px;
}